/* Inicio.css */
header {
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  /* lo fija en la pantalla */
  top: 0;
  /* pegado al borde superior */
  left: 0;
  width: 100%;
  /* ocupa todo el ancho */
  z-index: 1000;
  /* queda por encima del contenido */
  background-color: #fff;
  /* poné el color que quieras */
  padding: 10px 20px;
  /* espacio interno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* sombra opcional */


}
