html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

code {
  /* Fuente monoespaciada típica */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  /* Un poquito más chico que el texto normal */
  font-size: 0.875em;

  /* Estilo visual tipo docs */

  padding: 0.15em 0.35em;
  border-radius: 4px;
  /* Para que no rompa el layout */
  white-space: pre-wrap;
  word-break: break-word;
}
